// Forms

.o_form_view {

  .o_form_sheet_bg {
    background: none !important;
    background-color: #F9F9F9 !important;
    padding: 0px;
    .o_form_sheet {
      border: 1px solid #d9d7d7;
      box-shadow: 0 5px 20px -15px black;
    }
  }

  .o_form_statusbar {
    //margin: -16px;

    .o_statusbar_status {
      > .o_arrow_button {
        background: #ffffff;
      }
    }
  }
}